body {
	background-size: cover;
	background-image: url(rgens_homepage.jpg);
	background-attachment: fixed;
	/*background-repeat: no-repeat; */
}

#welcome {
	text-align: left;
	font-family: 'Lucida Bright';
	color: white;
	font-size: 150%;
}

h2 {
	text-align: left;
	color: white;
	font-size: 113%;
	max-width: 51.8%;
}

.subheadings {
	text-align: left;
	font-family: 'Lucida Bright';
	font-size: 75%;
	max-width: 45%;
}

.res_body{
	background-color: #D3D3D3;
}

#bio_bg {
	background-image: url(cannon-franc.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#header {
	background-color: #2C3539; /*gunmetal*/
	opacity: 0.45;
	height: 100%;
	text-align: center;
	color: white;
	font-family: 'Lucida Bright';
	padding-bottom: .5%
}

#bio_body {
	background-color: #2C3539; /*gunmetal*/
	opacity: 0.7;
	height: 100%;	
	color: white;
	text-align: center;
	margin-top: 4.75%;
	margin-left: 4%;
	margin-right: 4%;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-family: 'Lucida Bright';
}


#footer {
	background-color: #2C3539; /*gunmetal*/
	opacity: 0.84;
	height: 100%;
	text-align: center;
	color: white;
	font-family: 'Lucida Bright';
	padding-bottom: .5%;
	margin-top: 25%;
	margin-right: 380px;
	margin-left: 380px;

}
/*h1{
	text-align: center;
	color: white;
	font-family: 'Lucida Bright';
} */

.underline {
	width: 75%;
}

a {
	color: white;
}

a:hover{
	color: #007eb3;
}

